{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div style="display: inline-flex;">
    {% for listing in listings %}
        <div class='card' style="width: 400px;">
            <div class="card-header">
                <h5>
                    <a href="{% url 'listingPage' listing.id %}">{{ listing.title }}</a>
                </h5>
            </div>
            {% if listing.imageUrl != '' %}
                <img class="card-img-top" src="{{ listing.imageUrl }}" alt="item" width=300 height="400">
            {% else %}
                <img class="card-img-top" src="https://cdn.uwplatt.edu/image-not-available/1.jpg" alt="no image available" width=300 height="400">
            {% endif %}
            <div class=card-body>
                <p class="card-text">{{ listing.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: ${{ listing.currentBid }}</li>
                <li class="list-group-item">Listed by: {{ listing.user }}</li>
            </ul>
        </div>
    {% endfor %}
    </div>
{% endblock %}